/*DOCTYPE css>
Name: Elven
Date Created: 9/14/18
Most Recent Revision: 9/15/18
*/

/*
Color Pallette
cream: #E9DCCD
PETAL: #E3BAB3
BURGUNDY: #613A43
FRESH: #848874
CHARCOAL #36384C
*/

/* Your header and footer must match across the pages, so store their styles in an external file called restaurantStyles.css */
/* @import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"); */

body {
  text-align: center;
  background-color: #848874;
  font-family: Arial, sans-serif;
}
header {
  font-family: 'Italiana', serif;
  /* font-size: 3em; */
  color: #E9DCCD;
}
footer {
  color: #613A43;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
a {
  font-size: 1.5em;
  color: #36384C;
}
nav a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #613A43
}
.selected {
  background-color: #613A43;
  color: #E3BAB3;
}
nav a:visited {
  color: #E3BAB3
}

h1 {
  text-align: center;
}
div {
  padding: 10px;
}
.jumbotron {
  color: #848874;
}

#main {
  background-color: #E9DCCD;
  color: #613A43;
}
#home {
  color: #73AB90;
}
#restaurantCarousel {
  text-align: center;
  padding-top: 0;
}
.formDescript {
  text-align: right;
}
.removePadding {
  padding-bottom: 0;
  padding-top: 0;
}
textarea {
  resize: both;
  width: 100%;
}
choices {
  width: 100%;
}
