/*DOCTYPE css>
Name: Elven
Date Created: 9/14/18
Most Recent Revision: 9/15/18
*/

/*
Color Pallette
peach #E8D5CF
khaki #C9BCB3
darker brown #8f857c
dark green #406353
light green #73AB90
*/

/* Your header and footer must match across the pages, so store their styles in an external file called restaurantStyles.css */
body {
  text-align: center;
  background-color: #C9BCB3;
  font-family: Arial, sans-serif;
}
header {
  font-family: 'Italiana', serif;
  font-size: 3em;
  color: #406353;
}
footer {
  color: #406353;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
a {
  font-size: 1.5em;
  color: #406353;
}
a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #73AB90
}
a:visited {
  color: #73AB90
}
nav {
    /* background-color: #406353; */
    color: #C9BCB3;
}
nav:hover {
    font-weight: bold;
    /* background-color: #C9BCB3; */
    color: #406353;
}
h1 {
  text-align: center;
}
img {
  padding: 15px;
}
div {
  padding: 10px;
}
#home {
  color: #73AB90;
}
