/*DOCTYPE css>
Name: Elven
Date Created: 9/14/18
Most Recent Revision: 9/15/18
*/

/* Your header and footer must match across the pages, so store their styles in an external file called restaurantStyles.css */
header {
  text-align: center;
}
footer {
  text-align: center;
}


testing git credential store
